
.header{
    height: 150px;
    background-color: #1877F2;
}
.image-container {
    background-color: white;
    width: 100px; 
    height: 100px;
    clip-path: circle(50%); 
    overflow: hidden; 
    margin-left: 100px;
    margin-top: 20px;

}

.shadow-box {
    width: 300px; /* Set your desired width */
    height: 200px; /* Set your desired height */
    border: 2px solid white; /* Border color */
    padding: 20px; /* Inner spacing */
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5); /* Horizontal, Vertical, Blur, Color */
    border-radius: 10px; /* Optional: Rounded corners */
}